html, body{
  /* background-image: url('background2.jpg'); */
  background-image: url(<%= asset_path('background2.jpg') %>);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1080px;
  margin: 0px;
}

body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6, p, input, button, ul, li, button, a, form, textarea {
  font-family: 'Prosto One', cursive;
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
  text-decoration: none;
  color: #000000cc;
  background: none;
}

div, main, header{
  background: inherit;
}

:focus {
  outline: none;
}

button, a {
  cursor: pointer;
}
