.glass-pane {
  background: inherit;
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  box-shadow:
    -4px -4px 0px rgba(240, 253, 255, 0.55),
    4px 4px 0px rgba(240, 253, 255, 0.55),
    4px -4px 0px rgba(240, 253, 255, 0.55),
    -4px 4px 0px rgba(240, 253, 255, 0.55);
  transition: padding 0.5s;
  margin: 25px;
}

/* .glass-pane:focus-within {
  padding: 0px 20px 0px 0px;
} */

.glass-pane::before {
  height: 1920px;
  width: 1080px;
  content: "";
  background: inherit;
  position: absolute;
  left: -50px;
  right: 0;
  top: -50px;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
  filter: blur(2px);
}

.glass-container {
  position: relative;
  background: none;
  height: fit-content;
  width: fit-content;
  background: none;
  background-color: rgba(240, 253, 255, 0.4);
  padding: 10px 15px;
  transition: padding 0.5s;
}

/* .glass-container:focus-within {
  padding: 10px 35px;
} */
