.period-select {
  width: 20vw;
}

#period-selector {
  width: 25vw;
  height: 122px;
}

#period-selector ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 3px 0px;
}

#period-selector button {
  width: 99.5%;
}

#back-button {
  font-size: 10px;
  width: fit-content !important;
  height: 100%;
  padding : 0px 5px;
  min-width: 20px;
}

#back-button .fa {
  font-size: 10px;
  margin: 0px;
}

/* .select-wrapper {
  height: 30px;
  transition: height 0.5s;
}

.select-wrapper ul {
  margin-top: 10px;
  height: 60%;
  overflow-y: scroll;
}

.select-wrapper li {
  cursor: pointer;
}

.select-wrapper:hover {
  height: 100px;
} */
