.period-select {
  width: 20vw;
}

#period-selector {
  width: 75vw;
  height: 122px;
}

#period-selector ul {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  padding: 3px 0px;
}

#period-selector button {
  width: 99.5%;
}

#period-selector-wrapper {
  margin-bottom: 0px;
}

/* .select-wrapper {
  height: 30px;
  transition: height 0.5s;
}

.select-wrapper ul {
  margin-top: 10px;
  height: 60%;
  overflow-y: scroll;
}

.select-wrapper li {
  cursor: pointer;
}

.select-wrapper:hover {
  height: 100px;
} */
