#timeline {
  height: 20px;
  background-color: rgba(0,0,0,0.2);
  width: 75vw;
  display: flex;
  border-radius: 50%;
}

div[id^='slider'] {
  height: 20px;
  width: 20px;
  background-color: rgba(50,50,50,0.8);
  position: absolute;
  border-radius: 50%;
}

input[type=range]{
    -webkit-appearance: none;
}

.timeline {
  width: 75vw;
  pointer-events: none;
  border: 0px;
  position: relative;
}

.timeline::-webkit-slider-thumb {
  pointer-events: all;
}

#second-slider {
  position: absolute;
}
